<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012 Mike Wakerly <opensource@hoho.com>.
  
  This file is part of the Kegtab package from the Kegbot project. For
  more information on Kegtab or Kegbot, see <http://kegbot.org/>.
  
  Kegtab is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free
  Software Foundation, version 2.
  
  Kegtab is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  more details.
  
  You should have received a copy of the GNU General Public License along
  with Kegtab. If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kegbot.app"
    android:versionCode="55"
    android:versionName="1.0.0 beta 55" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="org.kegbot.app.permission.C2D_MESSAGE" />

    <permission
        android:name="org.kegbot.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <!-- Hack for Nexus 7 support, per http://stackoverflow.com/a/11745425/642485 -->
    <!-- TODO(mikey): figure out what's really going on here. -->
    <compatible-screens>

        <!-- no small size screens -->


        <!-- Only hdpi and xhdpi for normal size screens -->
        <!-- <screen android:screenSize="normal" android:screenDensity="mdpi" /> -->
        <!-- <screen android:screenSize="normal" android:screenDensity="hdpi" /> -->
        <!-- <screen android:screenSize="normal" android:screenDensity="xhdpi" /> -->


        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />

        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />

        <!-- Special case for Nexus 7 -->
        <screen
            android:screenDensity="213"
            android:screenSize="large" />
    </compatible-screens>

    <application
        android:name="org.kegbot.app.KegbotApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/kegbot_logo"
        android:theme="@android:style/Theme.Holo" >

        <!-- ########## -->
        <!-- ACTIVITIES -->
        <!-- ########## -->

        <activity
            android:name="org.kegbot.app.KegtabLauncherActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="org.kegbot.app.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="org.kegbot.app.BugreportActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.kegbot.app.CalibrationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="org.kegbot.app.NewControllerActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="org.kegbot.app.NewKegActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="org.kegbot.app.setup.SetupActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="org.kegbot.app.PourInProgressActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="org.kegbot.app.DrinkerSelectActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="org.kegbot.app.activity.AUTH_DRINKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.kegbot.app.SettingsActivity"
            android:label="@string/settings_name" />
        <activity
            android:name="org.kegbot.app.settings.ThirdPartyLicensesActivity"
            android:label="@string/settings_name" />
        <activity
            android:name="org.kegbot.app.PinActivity"
            android:label="@string/app_name" />
        <activity
            android:name="org.kegbot.app.DrinkerRegistrationActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateVisible|adjustPan" >
            <intent-filter>
                <action android:name="org.kegbot.app.activity.NEW_DRINKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.kegbot.app.AuthenticatingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <!-- ################### -->
        <!-- BROADCAST RECEIVERS -->
        <!-- ################### -->

        <receiver android:name="org.kegbot.app.UserAuthedReceiver" >
            <intent-filter android:priority="1" >
                <action android:name="org.kegbot.action.USER_AUTHED" />
                <action android:name="org.kegbot.action.METER_UPDATE" />
                <action android:name="org.kegbot.action.TOKEN_ADDED" />
                <action android:name="org.kegbot.action.CONTROLLER_ADDED" />
                <action android:name="org.kegbot.action.CONTROLLER_REMOVED" />
                <action android:name="org.kegbot.action.THERMO_UPDATE" />
                </intent-filter>
        </receiver>
        <receiver
            android:name="org.kegbot.app.service.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.kegbot.app" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.kegbot.app.service.CheckinBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.kegbot.app.CHECKIN" />
            </intent-filter>
        </receiver>

        <!-- ######## -->
        <!-- SERVICES -->
        <!-- ######## -->

        <service android:name="org.kegbot.app.service.KegbotCoreService" />
        <service android:name="org.kegbot.app.service.CheckinService" />
        <service android:name="org.kegbot.app.service.GCMService" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="ba357635725e4d9077107ee8df6b7da3ade3cd6c" />

        <activity
            android:name="org.kegbot.app.TapListActivity"
            android:label="@string/title_tap_list"
            android:parentActivityName="org.kegbot.app.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kegbot.app.HomeActivity" />
        </activity>
        <activity
            android:name="org.kegbot.app.TapDetailActivity"
            android:label="@string/title_tap_detail"
            android:parentActivityName=".TapListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TapListActivity" />
        </activity>
    </application>

</manifest>
