[submodule "android/Kegtap/ext/retrofit"]
	path = android/Kegtap/ext/retrofit
	url = https://github.com/square/retrofit.git
[submodule "android/Kegtap/ext/cwac-task"]
	path = android/Kegtap/ext/cwac-task
	url = https://github.com/commonsguy/cwac-task.git
[submodule "android/Kegtap/ext/cwac-bus"]
	path = android/Kegtap/ext/cwac-bus
	url = https://github.com/commonsguy/cwac-bus.git
[submodule "android/Kegtap/ext/cwac-adapter"]
	path = android/Kegtap/ext/cwac-adapter
	url = https://github.com/commonsguy/cwac-adapter.git
[submodule "android/Kegtap/ext/cwac-cache"]
	path = android/Kegtap/ext/cwac-cache
	url = https://github.com/commonsguy/cwac-cache.git
